.header {
  margin: auto;
  padding: 0;
  background-color: white;
  text-align: center;
}

.homePageTitle {
  text-align: center;
  margin: 0;
  padding: 0;
  letter-spacing: 1.5rem;
  font-size: 5rem;
  text-align: left;
}

.verticalCenter {
  position: fixed;
  top: 55%;
}

li {
  display: block;
  padding-right: 5rem;
  padding-left: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0;
  letter-spacing: 0.5rem;
  font-size: 2rem;
}

.pageDivider {
  padding: 0;
  margin: 0;
}

.showForSmallScreen {
  display: none;
}

li:hover {
  padding-top: 0rem;
  padding-bottom: 1rem;
}

.customImg {
  margin-left: 2rem;
  margin-top: 1.5rem;
}

@media (max-width: 984px) {
  .verticalCenter {
    top: 45%;
  }
}

@media (max-width: 600px) {
  .verticalCenter {
    top: 30%;
  }

  .showForSmallScreen {
    display: block;
  }

  .pageLink {
    font-size: 1.5rem;
  }

  ul {
    padding: 0;
  }

  .homePageTitle {
    font-size: 3rem;
    letter-spacing: 1rem;
  }
}

@media (max-width: 478px) {
  .verticalCenter {
    top: 20%;
  }
}
