.updateList {
  padding: 20px;
  margin: auto;
  display: block;
  overflow: scroll;
  height: 700px;
}

.custompadding {
  padding-left: 20px;
  padding-right: 20px;
}

p {
  padding: 0;
  margin: 0;
}

#updateNumber {
  text-align: right;
}
