.circle-wrapper {
  position: absolute;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0, 0.8, 1, 0);
  animation-name: squareAnim;
  animation-direction: alternate;
}

.circle {
  background-color: black;
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

@keyframes squareAnim {
  from {
    top: 110%;
  }
  to {
    top: -10%;
  }
}

@media (max-width: 1400px) {
  .squareWrapper {
    display: none;
  }
}
