.social-box {
  width: 100%;
  border-bottom: 4px solid black;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  cursor: pointer;
  height: 30vh;
}

.social-box:hover {
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.email {
  font-size: 3rem;
}

.social-title {
  padding-top: 4rem;
}

.logo-img {
  width: 100%;
}

.social-handle {
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-size: 1.5rem;
}

@media (max-width: 1400px) {
  .img-div {
    display: block;
    width: 50%;
  }

  .social-box {
    text-align: center;
    justify-content: center;
    justify-items: center;
    display: block;
    width: 40%;
    height: auto;
  }

  .social-handle {
    padding: 1rem;
    font-size: 1.5rem;
  }

  .email {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .social-handle {
    font-size: 1rem;
  }
  .email {
    font-size: 1rem;
  }
}
