.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.three-margin {
  margin: 3rem;
}

.auto-margin {
  margin: auto;
}

.max-width {
  width: 100%;
}

.wrapper {
  margin: 0;
  padding: 20px;
}

/* For buttons to look like links */
.like-link {
  background-color: transparent;
  outline: none;
  border: none;
}

.like-link:focus {
  outline: none;
  border: none;
}

.center-title {
  text-align: center;
  margin: auto;
  padding: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.hover-underline {
  border-bottom: transparent 2px solid;
}

.hover-underline:hover {
  border-bottom: solid 2px black;
}

.spaced-letters {
  letter-spacing: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

@media (max-width: 600px) {
  body {
    margin-top: 1rem;
  }

  .three-margin {
    margin-left: 1.5rem;
    margin-top: 1rem;
  }
}
