.buttonsButton {
  text-align: center;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  letter-spacing: calc(0.8rem + 0.1vw); /*  From 0.8 - 1.0 */
  font-size: 2rem; /*alc(1.4rem + 0.3vw); /* from 1.5rem to 2.0rem */
}

.buttonsButton:hover {
  padding-top: 0.2rem;
  padding-bottom: 0.8rem;
}

#title {
  margin-top: calc(0);
  margin-bottom: 2rem;
  font-size: 230%;
}

.backButton {
  cursor: pointer;
  padding-left: 1vw;
  margin-right: 2vw;
}

#backButton {
  background-color: transparent;
  outline: none;
  border: none;
}

.homeButton {
  margin-left: 2vw;
}

.headerWrapper {
  margin-top: 2vw;
}

@media (max-width: 400px) {
  .buttonsButton {
    font-size: 1.8rem;
  }
}
