.project-bar {
  /* Omit border-top as its handled by the props determining whether or not the project is first on the page */
  /*border-top: solid black 2px;*/
  border-bottom: solid black 2px;
  width: 100%;
  height: 35vh;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  margin-bottom: 1rem;
}

.project-bar:hover {
  cursor: pointer;
  padding-bottom: 1rem;
  padding-top: 0rem;
}

.project-text-section {
  margin: 1rem;
}

.project-link-wrapper {
  height: 20vh;
}

@media (max-width: 1100px) {
  .project-bar {
    height: 100%;
  }
}
