.textWrapper {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 1rem;
}

h3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

p {
  text-indent: 3rem;
}

@media (max-width: 500px) {
  .textWrapper {
    font-size: 0.8rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  .textWrapper {
    font-size: 0.7rem;
  }
  h3 {
    font-size: 1.2rem;
  }
}
