.updateList {
  padding: 20px;
  margin: auto;
  display: block;
  overflow: scroll;
  height: 75vh;
}

.custompadding {
  padding-left: 20px;
  padding-right: 20px;
}

p {
  padding: 0;
  margin: 0;
}

#updateNumber {
  text-align: right;
}

@media (max-width: 1200px) {
  .updateList {
    font-size: 0.7rem;
  }
}
